.wrapper
  %h1= link_to "Pochi", root_path,class: "app-title"
  .main
    .search
      .search-container
        .search-container__head
          キーワード検索
        .search-container__product-box
          .search-container__product-box__product-head
            = link_to "#", class: "line" do
              = "検索結果: #{@mains.length}件"
        .search-container__product-lists
          .week
            - @mains.each do |main|
              - if main.user_id == current_user.id
                .week__menu_show
                  %td
                    .pickup-container__product-box__product-lists__product-list
                      = link_to main_path(main), data:{"turbolinks" => false}, class: "line" do
                        - if main.first_image != nil
                          .content_post{:style => "background-image: url(#{main.first_image.image.url});"}
                        - else
                          = ""
                    .resipi_name
                      = link_to "◎#{main.main_name}◎","/mains/#{main.id}"
              - else
                = ""
  .page
    = paginate(@mains)

  .submit_area            
    = link_to "今週のこんだてを決める", "/",data: {"turbolinks" => false},class: "exhibitSubmit1"
  = render "layouts/footer"