.wrapper
  %h1= link_to "Pochi", root_path,data: {"turbolinks" => false},class: "app-title"
  
  .header__box__upper__search
    = form_with(url: search_subs_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "キーワードから探す", class: "header__box__upper__search--input"
      %button{type: "submit", class: 'header__box__upper__search--btn'} 
        = icon('fas', 'search', class: 'search-icon')
  .week
    %h2.title 登録メニュー
    - @subs.each do |sub|
      - if sub.user_id == current_user.id
        .week__menu_show
          %td
            .pickup-container__product-box__product-lists__product-list
              = link_to sub_path(sub), data:{"turbolinks" => false}, class: "line" do
                - if sub.first_image != nil
                  .content_post{:style => "background-image: url(#{sub.first_image.image.url});"}
                - else
                  = ""
            .resipi_name
              = link_to "◎#{sub.sub_name}◎","/subs/#{sub.id}"
      - else
        = ""
  .page
    = paginate(@subs)

  .submit_area            
    = link_to "今週のこんだてを決める", "/",data: {"turbolinks" => false},class: "exhibitSubmit1"
= render "layouts/footer"


